






<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">
      <button id="addbtn" class="btn btn-block btn-success"><span class="fa fa-plus-circle"></span> 添加</button>
    </h3>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" id="keywords" value="" name="pos_search" class="form-control pull-right" placeholder="搜索">

        <div class="input-group-btn">
          <button type="button" id="possearch" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th style="width: 10px">#</th>
        <th>商品Logo</th>
        <th>商品名称</th>
        <th>天猫价</th>
        <th>销售件数</th>
        <th>发布时间</th>
        <th>券后价</th>
        <th style="width: 180px">操作</th>
      </tr>
      {{#if hasResult}}
      {{#each data}}
      <tr  data-id="{{_id}}">
        <td>{{num}}</td>
        <td><img width="50" height="50" src="http://localhost:3000/upload/{{companyLogo}}" alt=""></td>
        <td>{{companyName}}</td>
        <td>{{positionName}}</td>
        <td>{{city}}</td>
        <td>{{createTime}}</td>
        <td>{{salary}}</td>
        <td>
          <button class="btn btn-sm btn-primary btn-update"><span class="fa fa-edit"></span>
            修改</button>
          <button class="btn btn-sm btn-danger btn-delete"><span class="fa fa-remove"></span> 删除</button>
        </td>
      </tr>
      {{/each}}
      {{else}}
      <tr>
        <td colspan="8"> 暂无数据. </td>
      </tr>
      {{/if}}
    </table>
  </div>
  
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="{{url}}?page={{before}}&pagesize=5" id="before">&laquo;</a></li>
      {{#each count}}
      <li class="{{#if this.c}} active {{/if}}">
      <a href="{{../url}}?page={{@index}}&pagesize=5" >{{this.a}}</a></li>
      {{/each}}
      <li><a href="{{url}}?page={{after}}&pagesize=5" id="after">&raquo;</a></li>
    </ul>
  </div>
</div>
